.tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 94px;
  }
  
  .tasks__group {
    border: none;
    background-color: white;
  }
  
  .tasks__group--text {
    font-family: Roboto;
    font-weight: 700;
    color: #212121;
    width: 270px;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .tasks__group--make {
    font-family: Roboto;
    font-weight: 400;
    color: #757575;
    size: 14px;
    font-style: normal;
    font-weight: normal;
    width: 270px;
    height: 75px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.03em;
  }
  
  .slip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
  .slip__combining {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 1200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 15px 15px 15px;
  }
  
  .slip__combining--row {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #eee;
    margin-bottom: 30px;
    width: calc(33.3% - 20px);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
  }
  
  .slip__combining--row:hover {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .slip__products {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  
  .slip__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .slip__thumb--akcion {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: #ebe7e7;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 40px;
    opacity: 0;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .slip__thumb::before {
    display: inline block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 155, 243, 0.9);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .slip__thumb:hover::before {
    opacity: 1;
  }
  
  .slip__products:hover .slip__thumb--akcion {
    opacity: 1;
  }
  
  .slip__products:hover .slip__thumb::before {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .slip__combining--name {
    background-color: white;
    padding: 24px;
    margin: 0 auto;
    width: auto;
  }
  
  .slip__combining--term {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.06em;
  }
  
  .slip__combining--page {
    width: auto;
    color: #757575;
  }