.form__field {
    position: relative;
  }
  
  .form__input {
    position: absolute;
    left: 39px;
    top: 20px;
    Width: 448px;
    Height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding-left: 32px;
  }
  
  .form__input:focus {
    border: 1px solid #2196F3;
  }
  
  .form__input:focus ~ .ico {
    fill: #2196f3;
  }
  
  .form__input--text {
    position: absolute;
    top: 0px;
    left: 40px;
    color: #757575;
    font-size: 12px;
  }
  
  .for__input--double {
    position: absolute;
    left: 39px;
    top: 170px;
    Width: 448px;
    Height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding-left: 32px;
  }
  
  .for__input--double:focus ~ .ico-1 {
    fill: #2196f3;
  }
  
  .form-input2:focus ~ .ico-2 {
    fill: #2196f3;
  }
  
  .for__input--double:focus {
    border: 1px solid #2196F3;
  }
  
  .for__input--doubletext {
    position: absolute;
    top: 150px;
    left: 39px;
    color: #757575;
    font-size: 12px;
  }
  .form__input--low {
    position: absolute;
    left: 39px;
    top: 235px;
    Width: 448px;
    Height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding-left: 32px;
  }
  
  .form__input--low:focus {
    border: 1px solid #2196F3;
  }
  
  .form__input--mail {
    position: absolute;
    left: 39px;
    top: 215px;
    Width: 448px;
    Height: 40px;
    color: #757575;
    font-size: 12px;
  }
  
  .icons {
    width: 12px;
    height: 12px;
  }
  
  .iconstele {
    position: absolute;
    top: 25%;
    left: 82%;
    width: 24px;
    height: 24px;
  }
  
  .ico {
    position: absolute;
    top: 30px;
    left: 50px;
  }
  
  .ico-1 {
    position: absolute;
    top: 178px;
    left: 50px;
  }
  
  .ico-2 {
    position: absolute;
    top: 244px;
    left: 50px;
  }
  
  .ico:hover {
    fill: #2196f3;
  }
  
  .ico-1:hover {
    fill: #2196f3;
  }
  
  .ico-2:hover {
    fill: #2196f3;
  }
  
  .main__comment--text {
    position: absolute;
    left: 39px;
    top: 275px;
    Width: 448px;
    Height: 40px;
    color: #757575;
    font-size: 12px;
  }
  
  .main__comment {
    position: absolute;
    left: 39px;
    top: 300px;
    Width: 448px;
    Height: 100px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
  }
  
  .main__comment:focus {
    border: 1px solid #2196F3;
  }
  
  .consent__text {
    position: absolute;
    left: 39px;
    top: 408px;
  }
  
  .consent__text--style {
    position: absolute;
    left: 60px;
    top: 408px;
  }
  
  .pol1 {
    padding: 19px;
    padding-right: 0px;
  }
  
  .command__close {
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #FFFFFF;
    border: none;
    width: 35px;
    height: 35px;
    border: none;
  }
  
  .command__close--style {
    width: 35px;
    height: 35px;
  }
  
  .command__close--style:hover {
    fill: #2196f3;
  }
  
  .consent__text--srting {
    color: #188ce8;
    text-decoration: underline;
  }
  
  .consent__sending {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 450px;
    left: 30%;
    background-color: #188ce8;
    border: none;
    border-radius: 4px;
  }
  
  .consent__sending--text {
    font-size: 16px;
    color: white;
  }