.mailling__list {
    position: relative;
    width: 750px;
    height: 140px;
    left: 750px;
    bottom: 245px;
  }
  
  .mailling__list--portfolio {
    position: relative;
    position: relative;
    width: 750px;
    height: 140px;
    left: 250px;
    bottom: 100px;
  }
  
  .mailling__list--text {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  
  .mailling__list--form {
    position: absolute;
    top: 60px;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    border: 4px;
    outline: none;
  }
  
  .mailling__list--form:focus {
    background: #2196f3;
  }
  
  .mailling__list--bottom {
    position: relative;
    left: 10px;
    background: #2196f3;
    height: 60px;
    width: 205px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .mailling__list--signature {
    color: white;
    text-align: center;
  }
  
  .mailling__list--telegrams {
    position: relative;
    top: -40px;
    left: 82px;
    bottom: 0px;
    width: 35px;
    height: 35px;
  }
  
  /*modal*/
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop__main {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 530px;
    width: 528px;
    border-radius: 4px;
    background-color: #FFFFFF;
  }
  
  .backdrop__main--text {
    margin-top: 45px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .backdrop__main--form {
    width: 448px;
    height: 332px;
  }
  
  
  
  .mailling__list--style {
    height: 60px;
    width: 288px;
    background: #2f303a;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .mailling__list--style:hover {
    border: 1px solid #2196f3;
  }
  