.title__photo {
    max-width: 1600px;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./aonj/Img.jpg);
    background-image: -webkit-gradient(linear, left top, right top, ), rgba(235, 10, 10, 0.6);
    background-image: linear-gradient(to right), rgba(235, 10, 10, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    background-size: cover;
    height: 600px;
  }
  
  .title__photo--size {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .title__photo--style {
    font-family: Roboto;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
    font-size: 44px;
    text-transform: uppercase;
    border-radius: 0px;
    text-align: center;
  }
  
  .title__photo--button {
    background: #2196f3;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: none;
  }
  
  .all__buttons {
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .all__buttons--prime {
    background: #2196f3;
    color: #ffffff;
    margin-left: 517px;
    height: 38px;
    width: 73px;
    left: 495px;
    top: 174px;
    margin-left: 350px;
    margin-right: 8px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: none;
  }
  
  .all__buttons--prime:hover {
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    -webkit-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .all__buttons--secondary {
    background-color: #f5f4fa;
    color: black;
    height: 38px;
    width: 128px;
    left: 576px;
    top: 174px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
  }
  
  .all__buttons--secondary:hover {
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }