/*heder*/
.item {
    width: 100%;
    height: 80px;
    overflow-x: visible;
  }
  
  .item__lOGO {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .item__photo {
    font-family: Raleway;
    line-height: 31px;
    text-align: left;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    margin-right: 93px;
  }
  
  .item__list {
    overflow-x: visible;
    margin: 0 auto;
    font-size: 14px;
  }
  
  .item__list--position {
    padding: 19px;
    overflow-x: visible;
  }
  
  .item__list--studia {
    color: $color;
    text-decoration: none;
    position: relative;
    overflow-x: visible;
  }
  
  .item__list--studia::after {
    content: "";
    position: absolute;
    display: block;
    width: $P;
    height: 5px;
    background-color:$color;
    bottom: -32px;
    border-radius: 2px;
  }
  
  .item__list--contakt {
    font-weight: 500;
    color: $col;
    text-decoration: none;
  }
  
  .item__list--portfolio {
    color: $col;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
  }
  
  .item__portfolio {
    margin: 0 auto;
    height: 80px;
    width: 1150px;
  }
  
  .item__envelope {
    height: 25px;
    width: 25px;
    position: relative;
    top: 6px;
    bottom: 0px;
    range: 0px;
    left: 103px;
    fill: $colorgray;
  }
  
  .item__envelope:hover {
    fill:$color;
  }
  
  .item__envelopePort {
    height: 25px;
    width: 25px;
    position: relative;
    top: 4px;
    bottom: 0px;
    range: 0px;
    left: 1px;
    fill: $colorgray;
  }
  
  .item__envelopePort:hover {
    fill:$color;
  }
  
  .item__telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .item__telephone--position {
    height: 25px;
    width: 25px;
    position: relative;
    top: 0px;
    bottom: 0px;
    range: 0px;
    left: 10px;
    fill: $colorgray;
  }
  
  .item__telephone--position:hover {
    fill:$color;
  }
  
  .item__contacts {
    color: $colorgray;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
    top: 32px;
    font-size: 14px;
  }
  
  .item__contacts:hover {
    color:$color;
  }
  
  .item__telephone--number {
    font-size: 14px;
  }
  
  .item__telephone--numberone {
    color: $colorgray;
    font-family: $font;;
    font-weight: 500;
    text-decoration: none;
  }
  
  .item__mail--one {
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
    top: 32px;
    color: $colorgray;
  }
  
  .item__mail--one:hover {
    color:$color;
  }
  
  /*main*/
  .title__photo {
    max-width: 1600px;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./aonj/Img.jpg);
    background-image: $gradient;
    background-image: $linergradient;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    background-size: cover;
    height: 600px;
  }
  
  .title__photo--size {
    width: $P;;
    height: $P;;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .title__photo--style {
    font-family: $font;;
    font-weight: 900;
    color: $colorW;;
    margin-bottom: 30px;
    font-size: 44px;
    text-transform: uppercase;
    border-radius: 0px;
    text-align: center;
  }
  
  .title__photo--button {
    background:$color;
    color: $colorClear;
    width: 200px;
    height: 50px;
    border: none;
  }
  
  .all__buttons {
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .all__buttons--prime {
    background:$color;
    color: $colorClear;
    margin-left: 517px;
    height: 38px;
    width: 73px;
    left: 495px;
    top: 174px;
    margin-left: 350px;
    margin-right: 8px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: none;
  }
  
  .all__buttons--prime:hover {
    -webkit-box-shadow: $colorTheSet;
            box-shadow: $colorTheSet;
    border-radius: 4px;
    -webkit-transition-duration: $colorKit;
            transition-duration: $colorKit;
  }
  
  .all__buttons--secondary {
    background-color: #f5f4fa;
    color: $col;
    height: 38px;
    width: 128px;
    left: 576px;
    top: 174px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: $font;;
    font-weight: 500;
  }
  
  .all__buttons--secondary:hover {
    -webkit-box-shadow: $colorTheSet;
            box-shadow: $colorTheSet;
    border-radius: 4px;
    -webkit-transition: $colorKit;
    transition: $colorKit;
  }
  